
.container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bigtext {
    font-size: 8vw;
    padding-left: 8vw;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen { max-width: 800px{};
    
}
 
.box {
    background-color: black;
    color: white;
    width: 700px;
    border-radius: 10px;
}

.box p {
    padding: 20px;
    text-align: center;
}